.banner {
  background: var(--azul-degrade);
  color: var(--branco);
  text-align: center;
  padding: 4rem 3.2rem;
}

.banner__titulo {
  font-size: 1.8rem;
  font-weight: 700;
}

.banner__texto {
  font-weight: 500;
  margin: 1.6rem 0;
}

.banner__pesquisa {
  background-color: transparent;
  border: 1px solid var(--branco);
  color: var(--branco);
  border-radius: 2.4rem;
  padding: 1.6rem;
  width: 100%;
}
.banner__pesquisa::placeholder {
  font-family: var(--font-principal);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--branco);
  background: url("../img/Lupa.svg");
  background-repeat: no-repeat;
  background-position: 1.2rem;
}
